body {
background-color: #CBE2FF;}

div.containermainmenu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  height: 140px;
  margin-left: -215px;
  margin-top: -70px;
}

 .v1 {
   display:inline-block;
   width:100px;
   height:100px;
   border-radius:50px;
   font-size:20px;
   color:#fff;
   line-height:100px;
   margin: 20px;
   text-align:center;
   text-decoration:none;background:#FFD700;
   position: relative;
   box-sizing: border-box;
   transition: all 500ms ease;

 }

 .v1:hover{color:#ccc;text-decoration:none;background:#FFFF00;animation: bounce 1s;}

 @keyframes bounce {
   0%, 20%, 60%, 100% {
     -webkit-transform: translateY(0);
     transform: translateY(0);
   }

   40% {
     -webkit-transform: translateY(-20px);
     transform: translateY(-20px);
   }

   80% {
     -webkit-transform: translateY(-10px);
     transform: translateY(-10px);
   }
 }

.v2 {
 display:inline-block;
  width:100px;
  height:100px;
  border-radius:50px;
  font-size:20px;
  color:#fff;
  line-height:100px;
  margin: 20px;
  text-align:center;
  text-decoration:none;background:#FFD700;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;

}

.v2:hover{color:#ccc;text-decoration:none;background:#FFFF00;animation: bounce 1s;}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

.v3 {
 display:inline-block;
  width:100px;
  height:100px;
  border-radius:50px;
  font-size:20px;
  color:#fff;
  line-height:100px;
  margin: 20px;
  text-align:center;
  text-decoration:none;background:#FFD700;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;

}

.v3:hover{color:#ccc;text-decoration:none;background:#FFFF00;animation: bounce 1s;}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
