

h1 {
  font-size: 50px;
  font-family: 'Abril Fatface', cursive;
  letter-spacing: 3px;
  text-align:center;
  margin: 200px;
  }

  .original {
    display:block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    text-decoration:none;background:#000;
  position: absolute;
  left: 369.5px;
  top: 440px;}

    .original:hover{color:#ccc;text-decoration:none;background:#333}

    .v1 {
      display:block;
      width:100px;
      height:100px;
      border-radius:50px;
      font-size:20px;
      color:#fff;
      line-height:100px;
      text-align:center;
       text-decoration:none;background:#000;
     position: absolute;
     left: 519.5px;
     top: 440px;}

      .v1:hover{color:#ccc;text-decoration:none;background:#333}

      .v2 {
        display:block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;background:#000;
      position: absolute;
      left: 669.5px;
      top: 440px;}

        .v2:hover{color:#ccc;text-decoration:none;background:#333}

      .v3 {
        display:block;
        width:100px;
        height:100px;
        border-radius:50px;
        font-size:20px;
        color:#fff;
        line-height:100px;
        text-align:center;
        text-decoration:none;background:#000;
      position: absolute;
      left: 819.5px;
      top: 440px;}

        .v3:hover{color:#ccc;text-decoration:none;background:#333}

        .v4 {
          display:block;
          width:100px;
          height:100px;
          border-radius:50px;
          font-size:20px;
          color:#fff;
          line-height:100px;
          text-align:center;
            text-decoration:none;background:#000;
          position: absolute;
          left: 969.5px;
          top: 440px;}

          .v4:hover{color:#ccc;text-decoration:none;background:#333}

